sweetlatex.com, www.sweetlatex.com {
    encode gzip

    handle /sweet-administration/* {
        reverse_proxy api:8000 {
            header_up Host {host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Real-IP {remote_host}
        }
    }

    handle /api/* {
        reverse_proxy api:8000 {
            header_up Host {host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Real-IP {remote_host}
        }
    }

    handle /static/* {
        reverse_proxy frontend:80 {
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle /media/* {
        reverse_proxy frontend:80 {
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        reverse_proxy frontend:80 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Real-IP {remote_host}
        }
    }
}