<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta description="SweetLatex Order Confirmation">
        <meta name="keywords"
              content="SweetLatex, Order Confirmation, LaTeX, Custom Cakes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SweetLatex Order</title>
    </head>
    <body>
        <h1>{{ subject }}</h1>
        <p>
            You've successfully placed an order with SweetLatex! We are excited to create a delicious and beautifully designed cake for you.
        </p>
        <p>
            Our team will start working on your order right away. We will keep you updated on the progress and notify you once your cake is ready for delivery or pickup.
        </p>
        <br>
        The SweetLatex Team
    </body>
</html>
